body
{
    background-size: cover;
    border-radius: center;
}

a
{
    font-size: 25px !important;
    border-radius: 40px !important;
    width: 350px !important;
    color: black;
    background-color: cyan;
    font-weight: bold !important;
}

.back_btn
{
    font-size: 20px !important;
    border-radius: 25px !important;
    width: 80px !important;
    color: white;
    background-color: black;
    font-weight: bold !important;
    float: right;
    margin-right: 10px;
}
.heading
{
    font-size: 35px;
    width: 100%;
}

#status
{
    font-size: 18px;
}